<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="css/profile.css">
    <title>Document</title>
    <div class="card">
        <h1><%=locals.user.name%></h1>
        <h2><%=locals.user.email%></h2>
        <p><button><a href="/profile/logout"> Logout </a></button></p>
      </div>

     
</head>
<body>
    
</body>
</html>